/* setas slider */
.sliderArrows{
  margin-top: 26.5vmax;
 color: white;
}

.paginationDot--isActive{
  color: greenyellow;
}
.imageElement--carousel{
  border-radius: 8vh;
}
.sliderLayoutContainer--carousel {
  max-width: 100%;
    margin:1%;
    
}
@media screen and (min-width: 40em) {
  .sliderLayoutContainer--carousel {
    max-width: 70%;
      margin:1%;
  }
}
/* fim */


.sliderLayoutContainer {
  justify-content: center;
}


.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}
